// @import '../../../theme/variables.scss';

:host {
    div{
        padding: 8px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        row-gap: 4px;

        span {
            text-align: right;
            font-size: 14px;
            font-weight: bold;
            &.label {
                color: var(--label-color);
                font-weight: normal;
            }
            &.total {
                color: var(--total-color);
            }
            &.vat {
                color: var(--vat-color);
            }
            &.profit {
                color: var(--profit-color);
            }
            &.cost {
                color: var(--cost-color);
            }
        }

    } 

    div.divider {
        height: 1px;
        background: #d8d8d8;
        padding: 0;
        margin-left: 20%;
    }
}