:host {
    ul {
        border: 1px solid white; 
        border-radius: 4px;
        padding-left: 0;

        padding: 4px;

        li {
            list-style-type: none;
            // height: 50px;
            border-radius: 4px;
            // border: 1px solid #54a1d4;
            border: 1px solid #bedcef;
            border-left: 10px solid #54a1d4;
            padding: 10px;

            display: flex;
            flex-direction: row;
            align-items: center;

            div.details {
                flex: 1;
                margin-right: 10px;

                div.basic {
                    display: flex;
                    justify-content: space-between;

                    span.price {
                        color: var(--price-color);
                        font-weight: bold;
                    }
                }

                div.breakdown {
                    div.table {
                        display: table;
                        width: 100%;
                        border-collapse: collapse;

                        div.table-row {
                            display: table-row;

                            &.header {
                                border-bottom: 1px dashed #8c8c8c;

                                div.table-cell {
                                    font-size: 10px;
                                    color: #4b4b4b;
                                    padding-bottom: 5px;
                                    padding-top: 0 !important;
                                }
                            }
                        }
                        div.table-cell {
                            display: table-cell;
                            font-size: 12px;
                            font-weight: bold;
                            padding-top: 5px;

                            &.label {
                                color: var(--label-color);
                                // font-weight: normal;
                            }
                            &.total {
                                color: var(--total-color);
                            }
                            &.vat {
                                color: var(--vat-color);
                            }
                            &.profit {
                                color: var(--profit-color);
                            }
                            &.cost {
                                color: var(--cost-color);
                            }
                        }
                    }
                }
            }

            + li {
                margin-top: 4px;
            }
        }
    }

    div.no-tasks {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        p {
            text-align: center;
            margin: 0;
        }
    }
}